.App {
  padding: 0 !important;
}

/* SolidBackground1.css */
.solid-background-1 {
  background-color: #006d77;
  height: 95vh;
  display: flex;
  justify-content: center;
}

/* Header.css */
.header {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #006d77 !important;
  height: 10vh;
}

.navbar-container {
  display: flex !important;
  justify-content: center;
}

.nav-tabs {
  display: contents;
}

.mobile-navbar-cname {
  margin-top: auto;
  line-height: 1;
}

.navbar-hamburgerbtn {
  margin-left: 12.5vw;
  margin-right: 0;
}

a.active {
  text-decoration: none;
  color: black;
}

/* Greeting.css */

.greeting {
  display: flex;
  justify-content: center;
  color: #edf6f9;
  border-width: 3px;
  border-style: solid;
  border-color: #edf6f9;
  margin: 6vh 0 7vh 0;
  padding: 20vh 0 20vh 0;
  text-align: center;
}

.greeting-heading {
  margin: 0 0 5vh 0;
  text-align: center;
  font-size: 10vh;
  color: #edf6f9;
  font-weight: 500;
}

.greeting-subHeading {
  font-size: 3.5vh;
  font-weight: 500;
  color: #edf6f9;
}

/* Demo.css */
.demo-container {
  display: flex;
  justify-content: center;
}

/* .demo-col {
  text-align: center;
}

.demo-heading {
  padding-top: 5vh;
  margin-bottom: 2.5vh;
  color: #edf6f9;
} */

.demo-player {
  width: 75vw;
  height: 75vh;
  margin: auto;
}

/* About Us.css */
.about-us-container {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}

.about-us-heading {
  text-align: center;
  font-size: 6.5vh;
  font-weight: 600;
  padding-bottom: 2vh;
  padding-top: 2vh;
  color: #83c5be;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.about-us-body {
  text-align: center;
  font-size: 3vh;
  font-weight: 600;
  padding: 0 10vw 2vh 10vw;
  color: #83c5be;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.about-us-box {
  background-color: rgba(0,109,119,.7);
  width: fit-content;
  border-radius: 10px;
}

/* ServiceGrid.css */
.servicePics {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 2.5vh;
}

.item-card {
  border-width: 0 !important;
  background-color: transparent!important;
}

.service-heading {
  text-align: center;
  color: #83c5be;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-bottom: 5vh;
  font-weight: 900;
}

.services-container {
  padding: 10vh 0 10vh 0;
}

.services-title {
  text-align: center;
  color: #83c5be;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: xx-large!important;
  margin-bottom: 4vh!important;
}

.services-body {
  text-align: center;
  color: #83c5be;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: x-large!important;
}

/* VideoGrid.css */
.video-grid-container {
  padding: 0 10vw 0 10vw;
}

.video-grid-heading {
  text-align: center;
  color: #edf6f9;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  padding: 2.5vh;
}

.video-grid-item {
  max-height: 22.5vh;
}

.video-grid-player {
  width: 100%;
  height: 100%;
  border: none;
}
/* Partners.css */
.partners-container {
  height: 91vh;
  padding: 8vh 0 12vh;
}

.partners-heading {
  text-align: center;
  color: #83c5be;
}

.partners-body {
  text-align: center;
  color: #83c5be;
}

.partners-img {
  height: 60vh;
  width: auto !important;
}

.partners-img-container {
  display: flex;
  justify-content: center;
}

/* Footer.css */
.footer-container {
  background-color: #006d77;
  width: 100%;
}

.mini-map {
  margin: 5vh;
  border-radius: 5%;
  width: 12vw;
  height: 12vw;
  border-color: #edf6f9;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

.footer-icon {
  width: 12vw !important;
  height: 12vw !important;
  padding: 10px;
  color: #edf6f9;
}

.footer-icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  font-size: 3vw !important;
  margin: 0 0.75vw 0 0.75vw;
  color: #edf6f9;
}

.map-col {
  display: flex;
  justify-content: center;
}

/* Calendly.css */
.calendly-form-btn {
  position: absolute;
  width: 9vw;
  height: 9vw;
}

