.App {
  padding: 0 !important;
}

/* ImageBackground.css */

.image-background {
  background: url("https://static-cse.canva.com/blob/676990/17BlueGreen.b07bf085.png")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 96vh;
  padding-top: 5vh;
}

/* SolidBackground1.css */
.solid-background-1 {
  background-color: #189ab4;
  height: 95vh;
  display: flex;
  justify-content: center;
}

/* Header.css */
.header {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #189ab4 !important;
  height: 10vh;
}

.navbar-container {
  display: flex !important;
  justify-content: center;
}

.nav-tabs {
  display: contents;
}

.mobile-navbar-cname {
  margin-top: auto;
  line-height: 1;
}

.navbar-hamburgerbtn {
  margin-left: 12.5vw;
  margin-right: 0;
}

a.active {
  text-decoration: none;
  color: black;
}

/* Greeting.css */

.greeting {
  display: flex;
  justify-content: center;
  color: #d4f1f4;
  border-width: 3px;
  border-style: solid;
  border-color: #d4f1f4;
  margin: 10vh 0 10vh 0;
  padding: 20vh 0 20vh 0;
  text-align: center;
}

.greeting-heading {
  margin: 0 0 7.5vh 0;
  text-align: center;
  font-size: 6.5vh;
  color: #d4f1f4;
  font-weight: 500;
}

.greeting-subHeading {
  font-size: 3.5vh;
  font-weight: 150;
  color: #d4f1f4;
}

/* Demo.css */
.demo-container {
  display: flex;
  justify-content: center;
}

.demo-col {
  text-align: center;
}

.demo-heading {
  padding-top: 5vh;
  margin-bottom: 2.5vh;
  color: #d4f1f4;
}

.demo-player {
  width: 75vw;
  height: 75vh;
}

/* About Us.css */
.about-us-container {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}

.about-us-heading {
  text-align: center;
  color: #05445e;
  font-size: 6.5vh;
  font-weight: 100;
  padding-bottom: 2vh;
}

.about-us-body {
  text-align: center;
  color: #05445e;
  font-size: 3vh;
  font-weight: 150;
  padding: 0 12.5vw 2vh 12.5vw;
}

.about-us-box {
  background: #75e6da;
  opacity: 0.6;
  width: 70vw;
}

/* ServiceGrid.css */
.servicePics {
  width: 100%;
  height: 100%;
}

.item-card {
  border-width: 0 !important;
}

.service-heading {
  text-align: center;
  color: #05445e;
  margin-bottom: 15vh;
}

.services-container {
  padding: 10vh 0 10vh 0;
}

.services-title {
  text-align: center;
  color: #05445e;
}

.services-body {
  text-align: center;
  color: #05445e;
}

/* VideoGrid.css */
.video-grid-container {
  padding: 0 10vw 0 10vw;
}

.video-grid-heading {
  text-align: center;
  color: #d4f1f4;
  padding: 2.5vh;
}

.video-grid-item {
  max-height: 22.5vh;
  aspect-ratio: 1/1;
}

.video-grid-player {
  width: 100%;
  height: 100%;
  border: none;
}
/* Partners.css */
.partners-container {
  height: 91vh;
  padding: 10vh 0 10vh;
}

.partners-heading {
  text-align: center;
  color: #05445e;
}

.partners-body {
  text-align: center;
  color: #05445e;
}

.partners-img {
  height: 60vh;
  width: auto !important;
}

.partners-img-container {
  display: flex;
  justify-content: center;
}

/* Footer.css */
.footer-container {
  background-color: #189ab4;
  width: 100%;
}

.mini-map {
  margin: 5vh;
  border-radius: 5%;
  width: 12vw;
  height: 12vw;
  border-color: #d4f1f4;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

.footer-icon {
  width: 12vw !important;
  height: 12vw !important;
  padding: 10px;
  color: #d4f1f4;
}

.footer-icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  font-size: 3vw !important;
  margin: 0 0.75vw 0 0.75vw;
  color: #d4f1f4;
}

.map-col {
  display: flex;
  justify-content: center;
}

/* Calendly.css */
.calendly-form-btn {
  position: absolute;
  width: 9vw;
  height: 9vw;
  /* 
  background-color: transparent!important;
  border-radius: 50%;
  margin-bottom: auto; */
}

/* 
.calendly-btn-container{
  justify-content: end!important;
} */
